[client]
port = 3306
socket = /data/project/mysql/mysql.sock

[mysqld]
port = 3306
socket = /data/project/mysql/mysql.sock
skip-external-locking
key_buffer = 384M
max_allowed_packet = 16M
table_cache = 2048
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8
max_connections = 1024
tmp_table_size = 256M
back_log = 50
datadir = /data/project/mysql
slow-query-log
slow-query-log-file = /data/project/mysql/slow-queries.log
#default-time-zone = "Asia/Shanghai"
default-storage-engine = MyISAM

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 8192
pid-file = /data/project/run/mysqld.pid
log-error = /data/project/mysql/error.log
